.col-lg8.col-md-8.col-sm-8.col-sm-offset-2.col-md-offset-2.col-lg-offset-2
  .panel.panel-default.custom_panel.centered
    = @assignee.name
    %br
    Contact:
    = @assignee.email
    %br
    %p 
      Tasks
      %ul
        - @assignee.to_dos.each do |task|
          %li= task.task
