/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @import "bootstrap";
 
 body {
  margin-top: 60px;
 }

 .adjust_button_position {
  margin-top: 10px;
  margin-left: 100px;
 }

 .add_button {
  float: right;
  margin-top: 5px;
 }

 .title {
  margin-top: 0;
 }

 .adjust_glyph_position {
  position: relative;
  top: 3px;
 }

 .custom_delete_button {
  float: right;
 }

 .custom_update_button {
  float: left;
  margin: 0;
 }

 .col-sm-6, .col-md-6 {
  padding: 0;
 }

 .add_button2 {
    margin-left: 12px;
    margin-top: 5px;
  }

  .add_button3 {
    margin-left: 22px;
    margin-top: 10px;
  }


 @media (max-width: 760px) {
  body {
    padding-top: 0;
  }

  .add_button {
    float: none;
    position: relative;
    margin-bottom: 20px;
  }

}
